<div class="container">
  <p
    [style.font-family]="selectedStyle"
    [style.color]="selectedColor"
    [style.font-size]="selectedNumber"
    class="text-start"
  >
    Text
  </p>
  <div class="inputs">
    <input
      type="color"
      class="input"
      #inputColor
      (change)="onColorChange(inputColor)"
    />
    <input
      type="number"
      class="input"
      #inputNumber
      (change)="onNumberChange(inputNumber)"
    />
    <select class="input" #style (change)="onSelectedStyle(style)">
      <option value="Arial">Arial</option>
      <option value="Calibri">Calibri</option>
      <option value="Helvetica">Helvetica</option>
      <option value="Verdana">Verdana</option>
      <option value="Georgia">Georgia</option>
    </select>
  </div>
</div>
